<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <style>
        body{ margin-top:50px;}

        a.list-group-item.read { color: #222;background-color: #7e46d4; }
        hr { margin-top: 5px;margin-bottom: 10px; }
        .nav-pills>li>a {padding: 5px 10px;}

        .name {
            min-width: 120px; display: inline-block;
        }
        .nav-stacked{
            background-color: #7e46d5;
        }
        .wrapper{
            position: absolute;
            border:1px solid #aaa;
            width: 460px;
            height:auto;
            padding: 2rem 1rem;
            text-align: center;
            right:100px;
            border-radius: 10px;
            visibility: hidden;
            top: 200px;
            background-color: #7e46d4;
            z-index:100;
        }
    </style>
</head>
<body>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/main-page.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js" integrity="sha512-tL4PIUsPy+Rks1go4kQG8M8/ItpRMvKnbBjQm4d2DQnFwgcBYRRN00QdyQnWSCwNMsoY/MfJY8nHp2CzlNdtZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js" integrity="sha512-aHuAnb+FZ/yM5zYvdiA8q0sxLdsBQ3PRwO8D/08qsenCLQ2gWsosB43Cn1X8esAz0IpaC7Ns5cAPyKIdJQ0hNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <h1 id="username" th:text="'Hello, ' + ${username}">Hello </h1>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active" >
                    <a href="" id="send-message">Send message</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">

            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group" id="messages">
                        <th:block th:each="message: ${messages}">
                            <a th:href="|message/${message.id}" class="list-group-item">
                                <span class="name" th:text="${message.senderName}"></span> <span class="" th:text="${message.title}"></span>
                                <span class="badge" th:text="${message.sentTime}"></span>
                            </a>
                        </th:block>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--SEND MESSAGE-->

<div class="row wrapper" id="message-form">
    <div class="">
        <div class="card p-4 bg-light">
            <div class="card-body bg-light">

                <div class="container inner-container">
                    <form id="contact-form" role="form" method="post" action="/messages/new-message">
                        <div class="controls">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tags">Username</label>
                                        <input id="tags" type="text" name="usernames" class="form-control"
                                               placeholder="Username" required="required"
                                               data-error="Firstname is required.">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="title">Title(optional)</label>
                                        <input id="title" type="text" name="title" class="form-control"
                                               placeholder="Title" required="required"
                                               >

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="content" class="form-control"
                                                  placeholder="Write your message here." rows="4" required="required"
                                                  data-error="Please, leave us a message."></textarea>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <button type="submit" class="btn btn-success btn-send  pt-2 btn-block
                          " >SEND</button>

                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- /.8 -->

    </div>
    <!-- /.row-->

</div>

<script src="/js/main-page.js"></script>
</body>
</html>